/* Import Roboto Font */
@font-face {
    font-family: 'Roboto';
    src: url('roboto/roboto-regular-webfont.eot');
    src: url('roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-regular-webfont.woff') format('woff'),
         url('roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('roboto/roboto-regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/roboto-bold-webfont.eot');
    src: url('roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-bold-webfont.woff') format('woff'),
         url('roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('roboto/roboto-bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/roboto-bolditalic-webfont.eot');
    src: url('roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-bolditalic-webfont.woff') format('woff'),
         url('roboto/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('roboto/roboto-bolditalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/roboto-italic-webfont.eot');
    src: url('roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-italic-webfont.woff') format('woff'),
         url('roboto/roboto-italic-webfont.ttf') format('truetype'),
         url('roboto/roboto-italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}	

/*Import Ropa Sans Font, do we need other font file types??*/
@font-face {
    font-family: 'RopaSans';
    src: url('ropasans/RopaSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'RopaSans';
    src: url('ropasans/RopaSans-Italic.ttf') format('truetype');
    font-style: italic;
}

.marker {
	position:				absolute;
	display:				inline-block;
	/*background-color: 		rgba(0,0,0,.87);*/
	background: 			url('images/tag.svg');
	background-repeat:no-repeat;
	background-size:cover;
	text-align: 			center;

	color:					#ffffff;
	font-size:				4pt;
    font-family: 			'RopaSans';
	-moz-user-select:		-moz-none;
	-khtml-user-select:		none;
	-webkit-user-select:	none;
	margin: 				0px;
	border:					0px;
	padding:				10px;
	overflow: 				hidden;
	cursor:					pointer;
}

#marker_template {
	display: none;
}

body {
	margin: 0px;
}
.overlayCountries {
	z-index: 1000;
}

.pointer {
    pointer-events: auto;
}
.noPointer {
    pointer-events: none;
}
#hudHeader {
    position: 				absolute;
/*    width: 					95%; */
    left: 					30px;
    top: 					20px;
    color: 					#fff;
    font-family: 			'Roboto';
    display:                block;
    background: rgba(0,0,0,0.4);
}
#hudHeader h1 {
	color: #999;
    font-size: 				20px;
    font-family: 			'Roboto';
    margin: 				0 0 0px 0;
    display:                block;
    float:                  left;
}
#hudHeader h1 .subtitle {
	color: #999;
    font-size: 				14px;
    /*font-family: 			'Helvetica Neue',Helvetica,Arial,sans-serif;*/
    margin: 				0 0 0px 0;
    display:                block;
    /*float:                  left;*/
}
#hudButtons {
    position: absolute;
    top: 20px;    
	right: 20px;
    /*width: 489px;*/
}
/*
#glContainer canvas {
    pointer-events:none;
}*/

#hudButtons .countryTextInput {
    float:                  right;
    font-size: 				17px;
    width: 					300px;
    margin-right: 			5px;
	font-family: 			'RopaSans';
	text-transform:          uppercase;
}
#hudButtons .armsBtn {
    float: right;
    background: 			#333333;
    padding: 				3px 10px 2px;
    color: 					white;
    border: 				0;
    font-size: 				18px;
	font-family: 			'RopaSans';
	cursor: 				pointer;
	margin-right: 			0px;
	opacity:                0.9;
}
#hudButtons .armsBtn:hover {
    opacity: 1;
}
#hudButtons .zoomBtn {
    margin-right:           5px;
    width:                  30px;
    font-weight:            bold;
    height:                 24px;
}

.ui-autocomplete {
    position: absolute;
}
.ui-autocomplete .ui-menu-item {
    border-top:             1px solid #656565;
    margin-left:            -39px;
    padding-left:           4px;
    font-family:            'RopaSans';
    font-size:              18px;
    color:                  white;
    list-style-type:        none;
    background:             #333;
    width:                  301px;
}
.ui-autocomplete #ui-active-menuitem {
    background:             white;
    color:                  black;
    width:                  301px;
    display:                block;
    margin-left:            -4px;
    padding-left:           4px;
}

#chooseMap {
	position: absolute;
	top: 200px;
	right: 20px;
}
#earth {
	width: 64px;
	height: 64px;
	background: url('images/earth.png');
	background-size:cover;
	display: inline-block;
	cursor: pointer;
	border-radius: 100%;
}
#outline {
	width: 64px;
	height: 64px;
	background: url('images/outline.png');
	background-size:cover;
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
	border-radius: 100%;
}
#history {
    position: 				absolute;
    bottom: 				0;
	left: 50%;
	transform: translateX(-50%);
    background-color: 		rgba(43,43,43,0.9);
}
#history ul {
    list-style-type:        none;
    margin:                 10px;
    padding:                0;
    padding-bottom:         15px;
    padding-top:            22px;
    color:                  white;
    font-size:              12px;
    font-family:            'Roboto';
    width:                  668px;
    background:             url('images/timelineBG.png'); /*to be resized!*/
    background-size:  650px 12px;
    background-repeat:  no-repeat;
    background-position: center top; 
}
#history ul li {
    width:                  30px;
    float:                  left;
    text-align:             center;
    margin-top:             -30px;
    padding: 2.5px;
    padding-top:            30px;
    word-wrap: break-word;
    cursor:                 default;
}
#history .timeline #handle {
    cursor:                 pointer;
    width:                  36px;
    height:                 36px;
    background:             url('images/yearHandle.png');
    background-size:  36px 36px;
    background-repeat:  no-repeat;
    position:               absolute;
    bottom:                 24px;
    left:                   50%;
	transform: translateX(-50%);
	margin-left: -312px;
}
#types {
	position: 				absolute;
    bottom: 				0;
    right: 100px;
    color: #fff;
    /*background-color: 		rgba(43,43,43,0.9);*/
}
#types label {
	padding: 5px;
	width: 100px;
	display: block;
    font-size: 				14px;
	font-family: 			'RopaSans';
	text-align: 			center;
}
#statistic {
	position:				absolute;
	/*background-color: 		rgba(0,0,0,.87);	*/
	color:					#bbb;
	font-size:				10pt;
    font-family: 			'RopaSans';
	margin: 				0px;
	border:					0px;
	padding:				10px;
	overflow: 				hidden;	
	top:200px;
	left:20px;
}
#statistic div{
	margin: 10px;
}